<div id="<%= dom_id post %>" class="bg-gray-100 border-2 border-gray-300 rounded-md p-5 
hover: transform hover:scale-102 transition-transform duration-300 ">
  <div class="flex gap-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <p><%= post.title %></p>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= post.content %>
  </div>
  <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"},
   class: "py-1 px-2 rounded bg-red-500 text-white hover:bg-red-600" %>
  <%= link_to "Edit", edit_post_path(post), class: "py-1 px-2 rounded bg-blue-500 text-white hover:bg-blue-600" %>
</div>
